<head>
	<title>TransPharm Phrase Builder</title>
	<link rel="stylesheet" type="text/css" href="/css/transpharm.css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.16.custom.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.16.custom.min.js"></script>
	<script type="text/javascript" src="/js/jquery.validate.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
		
		do_autosearch();
	
		// Disable the select box following a "containing" select box. //
		$('select.containing').next().attr('disabled', 'disabled');
		// And make it toggle properly //
		$('select.containing').change(function() {
			var selected = $(this).find('option:selected').text();
			if (selected != " --- ") {
				$(this).next().removeAttr('disabled');
			} else {

				$(this).next().find('option:first').attr('selected', 'selected')
				$(this).next().attr('disabled', 'disabled');
			}
		});
		
		// Enables "per day" or "per hour" when selecting "how many times" - for "How many times a day should this medicine be taken?"
		$('#shouldbetaken').prev('select').change(function() {
			var selected = $(this).find('option:selected').text();
			if (selected == "How many times") {
				$('#shouldbetaken').next('select').removeAttr('disabled');
			} else {
				$('#shouldbetaken').next('select').find('option:first').attr('selected', 'selected');
				$('#shouldbetaken').next('select').attr('disabled', 'disabled');
			}
		});
		
		// Toggles adjectives for "hurts" or "feels". i.e. "my head hurts..." activates "a lot" or "a little." Changing "hurts" to "feels" brings up the adverbs ((feels) hot, cold) and hides "a lot, a little"
		
		var html = "<input class=\"ui-widget autosearch ui-autocomplete-input\" category=\"adverbs\" placeholder=\"Click or Type\" autocomplete=\"on\" role=\"textbox\" aria-autocomplete=\"list\" aria-haspopup=\"true\">";
		
		$('#symptoms select.verbs').change(function() {
			var selected = $(this).find('option:selected').text();
			if (selected == "hurt(s)") {
				$(this).siblings('input[category="adverbs"]').remove();
				$(this).siblings('select.comparatives').removeAttr('disabled').show();
			} else if (selected == "feel(s)") {
				$(this).after(html);
				do_autosearch();
				
				$(this).siblings('select.comparatives').find('option:first').attr('selected', 'selected');
				$(this).siblings('select.comparatives').attr('disabled', 'disabled').hide();
			}
		});
		
		
		// This part posts the phrase to the server where it is translated and sent back.
		
		$('.phrase_input').click(function() {
			var phrase = [];
			$(this).parent().siblings('select, input').each(function() {
				if ($(this).is('select')) {
					var value = ($(this).find('option:selected').attr('value'));
				} else if ($(this).is('input')) {
					var value = ($(this).val());
				}
				if (value.length != 0) {
					phrase.push(value);
				} else {
					alert("That sentence won't make any sense!");
					return false;
				}
			});
			
			$.post('/dict/',
				{ phrase: phrase },
				function(data) {
					if (data.search("not_found") != -1) {
						var first_bracket_index = data.indexOf("(");
						var last_bracket_index = data.indexOf(")");
						var word = data.slice(first_bracket_index+1, last_bracket_index);
						
						alert("Sorry, '" + word + "' is not in our dictionary :(");
					} else {
						$('#ajax_result').html(data);
					}
				}
			);
		});
		
		
	});
	
function do_autosearch() {
	$('.autosearch').hover(
		function() { 
			$(this).addClass("hover"); 
		},
	 	function () {
			$(this).removeClass("hover");
		});
	
	$('.autosearch').each(function() {
		var category = $(this).attr("category");
		$(this).autocomplete({source: "/dict/autocomplete/" + category, minLength: 0, delay: 1000}); 
		
	});		
	$('.autosearch').click( function() {
		$(this).autocomplete("search", '');
	});
};
</script>

</head>
<body>
<p><a href="/">To start</a></p>
<p><a href="/dict/addwords/">To add words</a></p>
	<center>
		<h1><u>Phrase Builder</u></h1>
	
	<div id="diseases" class="styled-select">
		<h2>Medical conditions and diseases</h2>
		
		
<%= display_options("i have", "caps", "no nils", "not_disabled", "not hidden") %>
					

		<input class="ui-widget autosearch" category="diseases" placeholder="Click or Type">

		<span><input class="phrase_input" type="button" value="Do it!"></span>
		
	</div>
	
	<div id="symptoms">
		<div class="styled-select">
		<h2>Symptoms and Pain</h2>

		
<%= display_options("possessives", "caps", "no nils", "not_disabled", "not hidden") %>
			
<%= display_options("body_parts", "no_caps", "no nils", "not_disabled", "not hidden") %>

<%= display_options("verbs", "no_caps", "no nils", "not_disabled", "not hidden") %>

<%= display_options("comparatives", "no_caps", "nilfirst", "not_disabled", "not hidden") %>

		<span class="phrase_input_span"><input class="phrase_input" type="button" value="Do it!"><span>

	</div>

	<div class="styled-select">

<%= display_options("i have", "caps", "no nils", "not_disabled", "not hidden")%>

	<input class="ui-widget autosearch" category="symptoms" placeholder="Click or Type">	
		
		<span class="phrase_input_span"><input class="phrase_input" type="button" value="Do it!"><span>
	</div>
	</div>

	
	<div id="allergy" class="styled-select">
		<h2>Allergy</h2>
					
<%= display_options("i am", "caps", "no nils", "not_disabled", "not hidden") %>
		
<%= display_options("allergic", "no_caps", "no nils", "not_disabled", "not hidden") %>

<input class="ui-widget autosearch" category="meds" placeholder="Click or Type">

		<span><input class="phrase_input" type="button" value="Do it!"></span>

	</div>
	
	<div id="buymeds" class="styled-select">
		<h2>Buying medicine</h2>

<%= display_options("med_types", "caps", "no nils", "not_disabled", "not hidden") %>


<%= display_options("containing", "no_caps", "nilfirst", "not_disabled", "not hidden") %>

<%= display_options("meds", "no_caps", "nilfirst", "not_disabled", "not hidden") %>

<%= display_options("please", "no_caps", "no nils", "not_disabled", "not hidden") %>
		<span><input class="phrase_input" type="button" value="Do it!"></span>

	</div>
	<div id="usemeds" class="styled-select">
		<h2>Using medicine</h2>
<%= display_options("questions", "caps", "no nils", "not_disabled", "not hidden")%>
	<select id="shouldbetaken" name="params[]"><option value="should this medicine be taken">should this medicine be taken</option></select>
<%= display_options("time", "no_caps", "nilfirst", "disabled", "not hidden")%>
	<select name="params[]"><option value="?">?</option></select>
		<span><input class="phrase_input" type="button" value="Do it!"></span>
	</div>

<div id="ajax_result">
</div>


	</center>