<head>
	<title>TransPharm</title>
	<link rel="stylesheet" type="text/css" href="/css/transpharm.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/jquery.validate.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
	
	
		$("#search_form").validate({
		  errorPlacement: function(error, element) {
		     error.appendTo($('.val_container'));
		   },
		   debug:false
		 })
			
		$('.short_result_td_en').click(function() {
			var id = $(this).parent().attr("id");
			$('#search_result_en' + id).slideToggle(500);
		});
		
		$('.short_result_td_ja').click(function() {
			var id = $(this).parent().attr("id");
			$('#search_result_ja' + id).slideToggle(500);
		});
		
	});

</script>

</head>
<body>
<% unless @search_params %>
<center>
<h1 class="header1" style="margin-top: 50px;">Find your medicine!</h1>
<div id="search" style="width: 800px; padding: 10px;">
	<h3>Search for...</h3>
	
	<form id="search_form" action="/medsearch/" method="POST">
		<table width="557" style="text-align: center;">
			<tr><center><td id="searchbar"><input type="text" name="search_terms" id="search_terms" placeholder="English or Japanese" class="required" size="100"></td></tr>
			<tr>
				<td class="val_container"></td>
			</tr></center>
		</table>
		<table id="radios" width="557">
			<tr><td><input type="checkbox" name="search_params[]" value="active_ingredients" class="required" checked>Active Ingredients</td>
				<td><input type="checkbox" name="search_params[]" value="brand_name" class="required" checked>Brand Name</td>
			</tr>
			<tr>
				<td><input type="checkbox" name="search_params[]" value="effects" class="required">Effects</td>
				<td><input type="checkbox" name="search_params[]" value="side_effects" class="required">Side Effects</td>
			</tr>
		</table>
			<table width="557" id="submit_and_error">
				<tr>
					<td><input type="submit" id="search_submit"></td>
				</tr>
			</table>
	</form>
	
</div>
</center>	
<% else %>
<center>
	<h1 class="header1" style="margin-top: 50px;">Find your medicine!</h1>
	<div id="search" style="width: 800px; padding: 10px;">
		<h3>Search for...</h3>

		<form id="search_form" action="/medsearch/" method="POST">
			<table id="search_bar" width="557" style="text-align: center;">
				<tr><center><td id="search_bar_td"><input type="text" name="search_terms" id="search_terms" class="required" size="100" value="<%= @search_terms %>"></td></tr>
				<tr>
					<td class="val_container"></td>
				</tr></center>
			</table>
			<table id="radios" width="557">
				
				<tr>
					
					<td>
						<% if @orig_search_params.include?("active_ingredients") %>
						<input type="checkbox" name="search_params[]" value="active_ingredients" class="required" checked>Active Ingredients</td>
						<% else %>
						<input type="checkbox" name="search_params[]" value="active_ingredients" class="required">Active Ingredients</td>
						<% end %>
					
					<td>
						<% if @orig_search_params.include?("brand_name") %>
						<input type="checkbox" name="search_params[]" value="brand_name" class="required" checked>Brand Name</td>
						<% else %>
						<input type="checkbox" name="search_params[]" value="brand_name" class="required">Brand Name</td>
						<% end %>
				</tr>
				<tr>
					<td>
						<% if @orig_search_params.include?("effects") %>
						<input type="checkbox" name="search_params[]" value="effects" class="required" checked>Effects</td>
						<% else %>
						<input type="checkbox" name="search_params[]" value="effects" class="required">Effects</td>
						<% end %>
					
					<td>
						<% if @orig_search_params.include?("side_effects") %>
						<input type="checkbox" name="search_params[]" value="side_effects" class="required" checked>Side Effects</td>
						<% else %>
						<input type="checkbox" name="search_params[]" value="side_effects" class="required">Side Effects</td>
						<% end %>
				</tr>
			</table>
				<table width="557" id="submit_and_error">
					<tr>
						<td><input type="submit" id="search_submit"></td>
					</tr>
				</table>
		</form>

	</div>
	<h1 class="header1">Results</h1>
	<div id="results">
	<p>Search for "<%= @search_terms %>" in <%= @search_params %> returned <%= @results.count %> results.</p>
	</div>

	<div id="short_results">
		<table class="short_result_langs" width="1200">
			<tr><th id="short_result_lang1">English</th><th id="short_result_lang2">Japanese</th></tr>
		</table>
		<table id="short_results_data_table">
			<tr><th>Brand Name</th><th>Active Ingredients</th><th>商品名</th><th>主成分</th></tr>
		</table>
	<% for i in @results %>
			<table class="short_result_row" width="1200"><tr id="<%= i[:id] %>"><td class="short_result_td_en"><%= i[:brand_name_en] %></td><td class="short_result_td_en"><%= i[:active_ingredients_en] %></td><td class="short_result_td_ja"><%= i[:brand_name_ja] %></td><td class="short_result_td_ja"><%= i[:active_ingredients_ja] %></td></tr>
			</table>
			
			<div class="search_result" style="width: 1200px;">
			
				<div class="search_result_en" id="search_result_en<%= i[:id] %>" style="width: 1200px; display: none;">
					<table class="search_results_secondary" width="1200">
				 		<tr>
				 			<th>ID:</th><td><%= i[:id] %></td>
				 		</tr>
					 	<tr>
					 		<th>Effects:</th><td><%= i[:effects_en] %></td>
					 	</tr>
					 	<tr>
					 		<th>Dosage:</th><td><%= i[:dosage_en] %></td>
					 	</tr>
					 	<tr>
					 		<th>Precautions:</th><td><%= i[:precautions_en] %></td>
					 	</tr>
					 	<tr>
					 		<th>Side Effects:</th><td><%= i[:side_effects_en] %></td>
					 	</tr>
					 	<tr>
					 		<th>Storage:</th><td><%= i[:storage_en] %></td>
					 	</tr>
			         </table>
				</div>
				<div class="search_result_ja" id="search_result_ja<%= i[:id] %>" style="width: 1200px; display: none;">
					<table class="search_results_secondary" width="1200">
				 		<tr>
				 			<th>ID:</th><td><%= i[:id] %></td>
				 		</tr>
					 	<tr>
					 		<th>効果 :</th><td><%= i[:effects_ja] %></td>
					 	</tr>
					 	<tr>
					 		<th>用法・用量 :</th><td><%= i[:dosage_ja] %></td>
					 	</tr>
					 	<tr>
					 		<th>注意 :</th><td><%= i[:precautions_ja] %></td>
					 	</tr>
					 	<tr>
					 		<th>副作用 :</th><td><%= i[:side_effects_ja] %></td>
					 	</tr>
					 	<tr>
					 		<th>保管方法その他 :</th><td><%= i[:storage_ja] %></td>
					 	</tr>
			         </table>
				</div>
			</div>

	<% end %>
		</table>
		</div>
		

		

<% end %>
			